<table id="post-{{post.id}}" class="posttable" style="width: 100%" valign="top">
  <tr>
    <td colspan="3">
      <div class="posttitle">{{ post.title }}</div>
    </td>
  </tr>
  {% if post.type == 'found' %}
  <tr>
    <td colspan="3" style="text-align: center" valign="bottom">
      <div class="postbody">Color : {{ post.color_tag.name }}</div>
      <div class="postbody">Found building : {{ post.building_tag.name }}</div>
      <div class="postbody">Left location: {{ post.left_location }}</div>
    </td>
  </tr>
  {% else %}
  <tr>
    <td colspan="3" style="text-align: center" valign="bottom">
      <div class="postbody">Color : {{ post.color_tag.name }}</div>
      <div class="postbody">Left building : {{ post.building_tag.name }}</div>
      <div class="postbody">Reward : ${{ post.reward }}</div>
    </td>
  </tr>
  {% endif %}

  <tr>
    <td colspan="3">
      <div class="posttimestamp" style="text-align: center; display: block;padding-left: 136px;padding-right: 136px;color:black;text-decoration: none;">
        {{ post.timestamp.strftime(' %d %b %Y') }} 
      </div>
    </td>
  </tr>

  {% if post.writer == current_user %}
  <tr>
    <td colspan="3" style="text-align: center; padding-top: 10px">
      <form
        action="{{ url_for('main.delete_post', post_id=post.id) }}"
        method="post"
      >
        <input type="submit" value="Delete" class="btn btn-danger" />
      </form>
    </td>
  </tr>
  {% endif %}
</table>
