<table id="post-{{post.id}}" class="posttable" style="width: 100%" valign="top">
  <tr>
    <td colspan="3">
      <div class="posttitle">{{post.title}}</div>
    </td>
  </tr>
  {% if post.post_type == 'found' %}
    <td colspan="3" style="text-align: center" valign="bottom">
      <div class="postbody">Color : {{post.color_tag.name}}</div>
      <div class="postbody">Found building : {{post.building_tag.name}}</div>
      <div class="postbody">Left location: {{post.left_location}}</div>
    </td>
  {% else %}
    <td colspan="3" style="text-align: center" valign="bottom">
      <div class="postbody">Color : {{post.color_tag.name}}</div>
      <div class="postbody">Left building : {{post.building_tag.name}}</div>
      <div class="postbody">Reward : {{post.reward}}</div>
    </td>
  {% endif %}
  

  <tr>
    <td>
      <!-- <div style="width: 100%; display: flex; justify-content: center; margin-left: auto; margin-right: auto;">
        {% if post.image %}
          <img
            src="{{ url_for('main.get_image', post_id=post.id) }}"
            alt="Post Image"
            class="post-image"
          />
        {% else %}
          <p>No image available for this post.</p>
        {% endif %}
      </div> -->
      <div class="posttimestamp" style="display: block">
        Posted on : {{ post.timestamp.strftime('%A, %d %B %Y') }} by {{
        post.writer.username }}
      </div>
    </td>
  </tr>
</table>

{% block script %} {% endblock %}
