<!DOCTYPE html>
<html lang="en" style = "display: flex;flex-direction: column;min-height: 100%;">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% if title %}
    <title>{{ title }} - Dashboard</title>
    {% else %}
    <title>Welcome to WPI Lost And Found</title>
    {% endif %}

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg navbar-dark"
      style="background-color: #ac2b37"
    >
      <div class="container">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if not current_user.is_anonymous %}
            <li class="nav-item border border-light px-2 ms-2 rounded-item">
              <a
                class="nav-link"
                style="color: white"
                aria-current="page"
                href="{{ url_for('main.index') }}"
                >Dashboard</a
              >
            </li>
            <li
              class="nav-item border border-light px-2 ms-2 rounded-item dropdown"
            >
              <a
                class="nav-link dropdown-toggle"
                style="color: white"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Post Item
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a
                    class="dropdown-item"
                    href="{{ url_for('main.post_found') }}"
                    >Post Found Item</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="{{ url_for('main.post_lost') }}"
                    >Post Lost Item</a
                  >
                </li>
              </ul>
            </li>

            <li class="nav-item border border-light px-2 ms-2 rounded-item">
              <a
                class="nav-link"
                style="color: white"
                aria-current="page"
                href="{{ url_for('main.map') }}"
                >Lost And Found Map</a
              >
            </li>
            <li class="nav-item border border-light px-2 ms-2 rounded-item">
              <a
                class="nav-link"
                style="color: white"
                aria-current="page"
                href="https://fs28.formsite.com/webteamwpiedu/lost-and-found/index.html?1574433553570="
                >Police Form</a
              >
            </li>
             
            </li>
            {% endif %}
          </ul>
          <ul class="navbar-nav mb-2 mb-lg-0">
            {% if current_user.is_anonymous %}
            <li class="nav-item border border-light px-2 ms-2 rounded-item">
              <a
                class="nav-link"
                style="color: white"
                aria-current="page"
                href="{{ url_for('auth.register') }}"
                >Register</a
              >
            </li>
            <li class="nav-item border border-light px-2 ms-2 rounded-item">
              <a
                class="nav-link"
                style="color: white"
                aria-current="page"
                href="{{ url_for('auth.login') }}"
                >Login</a
              >
            </li>
            {% else %}
            <li class="nav-item border border-light px-2 ms-2 rounded-item">
              <a
                class="nav-link"
                style="color: white"
                aria-current="page"
                href="{{ url_for('main.display_profile',user_id = current_user.id) }}"
              >
                <img
                  src="{{ url_for('static', filename='img/user.svg') }}"
                  alt="User"
                  style="
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    margin-right: 8px;
                  "
                />
                <span class="profile-tooltip">{{current_user.firstname}}</span>
              </a>
            </li>

            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <div class="container mt-3">
      {% with messages = get_flashed_messages() %} {% if messages %} {% for
      message in messages %}
      <div class="alert alert-info" role="alert">{{ message }}</div>
      {% endfor %} {% endif %} {% endwith %} {% block content %}{% endblock %}
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
  <footer
    style="
      background-color: #343a40;
      color: white;
      bottom: 0;
      width: 100%;
      z-index: 1000;
      margin-left: -16px;
      margin-top: 4%;
      padding-top: 20px;
      overflow-x: hidden;
      padding-right: 5px;
      padding-left: -20px;

    "
  >
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <p>&copy; 2024 Lost and Found Web App. All Rights Reserved.</p>
        </div>
        <div class="col-md-6 text-md-end">
          <a href="/about" class="btn btn-outline-light btn-sm me-2"
            >About This Site</a
          >
          <a href="/guide" class="btn btn-outline-light btn-sm me-2"
            >Instructions</a
          >
          <a href="/contact" class="btn btn-outline-light btn-sm me-2"
            >Contact Us</a
          >

        </div>
      </div>
    </div>
  </footer>
</html>
