{% extends "base.html" %} {% import 'bootstrap_wtf.html' as wtf %} {% block
content %}

<h1 style="text-align: center">What did you lose?</h1>

{% if form %}
<div class="create-post">
  <form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }} {{wtf.form_field(form.title)}} {% if
    form.title.errors %}
    <ul class="error-messages">
      {% for error in form.title.errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    <div class="form-group">
      <div class="left-side">
        <label for="color_tag">{{ form.color_tag.label }}</label><br />
        {{ form.color_tag(class="form-select") }}
      </div>

      <div class="right-side">
        <label for="building_tag">{{ form.building_tag.label }}</label><br />
        {{ form.building_tag(class="form-select") }}
      </div>
    </div>
    {{wtf.form_field(form.reward)}} {% if form.reward.errors %}
    <ul class="error-messages">
      {% for error in form.reward.errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>

    {% endif %} {{wtf.form_field(form.description)}} {% if
    form.description.errors %}
    <ul class="error-messages">
      {% for error in form.left_location.errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    <div
      style="
        margin-top: 10px;
        flex-direction: column;
        display: flex;
        flex-wrap: wrap;
      "
    >
      {{ form.image.label }} {{ form.image }}<br />
    </div>
    <div>
      {{ form.submit(class="btn btn-danger", style="margin-top: 10px; display:
      block; margin-left: auto; margin-right: auto;") }}
    </div>
  </form>
</div>
<div style="height: 25vh;">
</div>

{% endif %} {% endblock %}
