{% extends "base.html" %} {% import 'bootstrap_wtf.html' as wtf %} {% block
content %}

<div class="postlist">
  <div class="post_choice_bar">
    <h1 style="text-align: center; font-size: 30px; padding-top: 5px">
      {{ user.firstname }} {{ user.lastname }}
    </h1>
  </div>

  <div class="postbody-container">
    <div class="postbody-box" style="width: 50%">
      <div class="postbody">Email: {{ user.email }}</div>
      {% if user.phonenum %}
      <div class="postbody">
        Phone number: +1 ({{ user.phonenum[:3] }}) {{ user.phonenum[3:6] }} {{
        user.phonenum[6:] }}
      </div>
      {%else%}
      <div class="postbody">Phone number: Not provided</div>
      {% endif %}
    </div>
    <div class="postbody-box" style="width: 50%; text-align: right">
      <div class="postbody">WPI ID: {{ user.wpi_id }}</div>
      <div class="postbody">Number of posts: {{ user.total_posts()}}</div>
    </div>
  </div>
</div>
<div
  style="
    text-align: center;
    margin-top: 20px;
    padding-inline: 20px;
    padding-right: 20px;
  "
>
  <a
    href="{{ url_for('auth.logout') }}"
    class="btn btn-danger"
    style="color: white; text-decoration: none"
  >
    Logout
  </a>
</div>
<br />
<br />
<br />

{%if current_user.type=="user"%}
<div>
  <h1 style="text-align: center; font-size: 30px; padding-top: 5px">My Posts</h1>
</div>
{%else%}
<div>
  <h1 style="text-align: center; font-size: 30px; padding-top: 5px">Reported Posts</h1>
</div>
{%endif%}
<div class="postlist">
  <div class="post_choice_bar">
    <form
      method="get"
      action="{{ url_for('main.display_profile',user_id = user.id) }}"
    >
      <!-- Preserve the other filters as hidden inputs -->

      <div class="choice-container">
        <button
          type="submit"
          name="post_type"
          value="found"
          class="choice-button1 {% if request.args.get('post_type') == 'found' %}active{% endif %}"
        >
          Found Post
        </button>
        <button
          type="submit"
          name="post_type"
          value="lost"
          class="choice-button2 {% if request.args.get('post_type') == 'lost' %}active{% endif %}"
        >
          Lost Post
        </button>
      </div>
    </form>
  </div>
  <div class="post_top_bar">
    <form
      class="sort"
      method="GET"
      action="{{ url_for('main.display_profile',user_id =  user.id) }}"
    >
      <div class="form-group">
        <!-- Preserve the post_type filter -->
        <input
          type="hidden"
          name="post_type"
          value="{{ request.args.get('post_type', '') }}"
        />

        <!-- Color Filter -->
        <label for="color_filter">{{ form.color_filter.label }}</label>
        {{ form.color_filter(class="form-select", id="color_filter") }}

        <!-- Building Filter -->
        <label for="building_filter">{{ form.building_filter.label }}</label>
        {{ form.building_filter(class="form-select", id="building_filter") }}

        <!-- Submit Button for applying filters -->
        {{ form.submit(class="button", value="Filter") }}

        <!-- Submit2 Button for refreshing the view -->
        {{ form.submit2(class="button button2", value="Reset") }}
      </div>
    </form>
  </div>

  <div style="width: 100%; height: 10px"></div>
  {%if current_user.type=="admin"%}
  <div class="post-container">
    {% for post in posts %}
    <a
      href="{{ url_for('main.post_detail', post_id=post.id) }}"
      class="post-link"
    >
      <div class="post-box">{% include '_post.html' %}</div>
    </a>
    {% endfor %}
  </div>
  {%else%}
  <div class="post-container">
    {% for post in reported_posts %}
    <a
      href="{{ url_for('main.post_detail', post_id=post.id) }}"
      class="post-link"
    >
      <div class="post-box">{% include '_post.html' %}</div>
    </a>
    {% endfor %}
  </div>
  {%endif%}
</div>

{% endblock %}
