{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post Detail</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        height: 100vh;
        align-items: center;
        justify-content: center;
        background-color: #f9f9f9;
      }
    </style>
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg navbar-dark"
      style="background-color: #ac2b37"
    >
      <div class="container">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if not current_user.is_anonymous %}
            <li class="nav-item border border-light px-2 ms-2 rounded-item">
              <a
                class="nav-link"
                style="color: white"
                aria-current="page"
                href="{{ url_for('main.index') }}"
                >Dashboard</a
              >
            </li>
            <li class="nav-item border border-light px-2 ms-2 rounded-item">
              <a
                class="nav-link"
                style="color: white"
                aria-current="page"
                href="{{ url_for('main.post_found') }}"
                >Post Found Item</a
              >
            </li>
            <li class="nav-item border border-light px-2 ms-2 rounded-item">
              <a
                class="nav-link"
                style="color: white"
                aria-current="page"
                href="{{ url_for('main.post_lost') }}"
                >Post Lost Item</a
              >
            </li>
            <li class="nav-item border border-light px-2 ms-2 rounded-item">
              <a
                class="nav-link"
                style="color: white"
                aria-current="page"
                href="{{ url_for('main.map') }}"
                >Lost And Found Map</a
              >
            </li>
            <li class="nav-item border border-light px-2 ms-2 rounded-item">
              <a
                class="nav-link"
                style="color: white"
                aria-current="page"
                href="https://fs28.formsite.com/webteamwpiedu/lost-and-found/index.html?1574433553570="
                >Police Form</a
              >
            </li>
            {% endif %}
          </ul>
          <ul class="navbar-nav mb-2 mb-lg-0">
            {% if current_user.is_anonymous %}
            <li class="nav-item border border-light px-2 ms-2 rounded-item">
              <a
                class="nav-link"
                style="color: white"
                aria-current="page"
                href="{{ url_for('auth.register') }}"
                >Register</a
              >
            </li>
            <li class="nav-item border border-light px-2 ms-2 rounded-item">
              <a
                class="nav-link"
                style="color: white"
                aria-current="page"
                href="{{ url_for('auth.login') }}"
                >Login</a
              >
            </li>
            {% else %}
            <li class="nav-item border border-light px-2 ms-2 rounded-item">
              <a
                class="nav-link"
                style="color: white"
                aria-current="page"
                href="{{ url_for('auth.logout') }}"
                >Logout</a
              >
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <br />
    <div class="post-detail-cont">
      <div
        style="
          font-size: 1.4em;
          text-align: center;
          font-weight: bold;
          border-radius: 8px 8px 0 0;
          word-break: break-word;
          overflow-wrap: anywhere;
          white-space: normal;
          margin-bottom: 20px;
        "
      >
        Item: {{ post.title }}
      </div>
      <div
        class="post-detail-container"
        style="
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          gap: 20px;
        "
      >
        <!-- Information text on the left -->
        <div class="post-details" style="flex: 1">
          {% if post.type == 'found' %}
          <div class="postbody">Color: {{ post.color_tag.name }}</div>
          <div class="postbody">
            Found building: {{ post.building_tag.name }}
          </div>
          <div class="postbody">Left location: {{ post.left_location }}</div>
          {% else %}
          <div class="postbody">Color: {{ post.color_tag.name }}</div>
          <div class="postbody">
            Left building: {{ post.building_tag.name }}
          </div>
          <div class="postbody">Reward: ${{ post.reward }}</div>
          <div class="postbody">Description: {{ post.left_location }}</div>

          {% endif %}
        </div>

        <!-- Image on the right -->
        <div class="post-image" style="flex: 0 0 auto">
          {% if post.image %}
          <img
            src="{{ url_for('main.get_image', post_id=post.id) }}"
            alt="Post Image"
            class="post-image"
            style="
              max-width: 100%;
              height: auto;
              border-radius: 8px;
              border: 1px solid #ccc;
            "
          />
          {% else %}
          <p>No image available for this post.</p>
          {% endif %}
        </div>
      </div>
      <div
        style="
          padding-top: 20px;
          display: flex;
          justify-content: center;
          gap: 20px;
        "
      >
        <button
          class="btn btn-detail"
          onclick="window.location.href='{{ url_for('main.index') }}'"
        >
          Back to Dashboard
        </button>
      </div>
    </div>
    <div class="poster-detail-cont">
      <div
        style="
          font-size: 1.4em;
          text-align: center;
          font-weight: bold;
          border-radius: 8px 8px 0 0;
          word-break: break-word;
          overflow-wrap: anywhere;
          white-space: normal;
          margin-bottom: 20px;
        "
      >
        Poster Information
      </div>
      <div class="postbody">
        Name: {{ post.writer.firstname }} {{ post.writer.lastname }}
      </div>
      <div class="postbody">Email: {{ post.writer.email }}</div>
      <div class="postbody">Phone number: +1 {{ post.writer.phonenum }}</div>
      <div
        style="
          padding-top: 20px;
          display: flex;
          justify-content: center;
          gap: 20px;
        "
      >
      {% if post.writer == current_user %}
        <button
          class="btn btn-detail"
          onclick="window.location.href='{{ url_for('main.display_profile',user_id = current_user.id) }}'"
        >
          Go to Profile
        </button>
      {% else %}
        <button
          class="btn btn-detail"
          onclick="window.location.href='{{ url_for('main.display_profile', user_id=post.writer.id) }}'"
        >
          View Profile
        </button>
      {% endif %}
      </div>
    </div>
  </body>
</html>
{% endblock %}
